{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content%}
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<style>
    #background {
        background-image: url('../static/lerone-pieters-XVaXbzQul90-unsplash.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
<div class="container" style="font-size:25px;" id="background">
    <!-- Business News Section  -->
    <h3 style="font-family: 'Dancing Script', cursive; font-size:50px; color:white;">Business News</h3>
    <hr>

    {{ macro.displaySourceList(sources)}}

    <!-- Business News Section  -->

    <h3 style="font-family: 'Dancing Script', cursive; font-size:50px; color:white;">Technology News</h3>
    <hr>

    {{ macro.displaySourceList(technology_sources)}}

    <!-- Entertainment News Section  -->

    <h3 style="font-family: 'Dancing Script', cursive; font-size:50px; color: white;">Entertainment News
    </h3>
    <hr>

    {{ macro.displaySourceList(entertainment_sources)}}

    <!-- Entertainment News Section  -->

    <h3 style="font-family: 'Dancing Script', cursive; font-size: 50px; color: white;"> Top Sports News</h3>
    <hr>

    {{ macro.displaySourceList(sports_sources)}}

</div>

{%endblock%}